 
.header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
   
    background-color: rgb(161, 161, 159);
    
}

.header h1{
    text-decoration: underline;
    
}


 .notification {
    display: flex;
    width: 350px;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    
 }

 
 
 
 .notification .left img{

   width: 100px;
   height: 100px;
   border-radius: 200px;
  


}

.notification .right {

  
  padding-left: 20px;
  
}

.notification .right span {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;

    

  



}


.view-more  button {

    margin-top: 20px;
    padding: 20px 10px;

    background-color: blue;
    color: #fff;
    width: 300px;
  
   

}



